USE [DBShopKLTN]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryNews]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryNews](
	[CategoryNewID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Display] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CategoryStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.CategoryNews] PRIMARY KEY CLUSTERED 
(
	[CategoryNewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Phone] [varchar](20) NULL,
	[CreateDate] [date] NULL,
	[Address] [nvarchar](250) NULL,
	[Email] [varchar](250) NULL,
	[Password] [varchar](50) NULL,
	[Gender] [bit] NULL,
	[Birth] [date] NULL,
	[Cart] [xml] NULL,
	[CustomerStatus] [int] NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailDiscountCode]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailDiscountCode](
	[OrderID] [int] NOT NULL,
	[DiscountCodeID] [int] NOT NULL,
	[StatusDetail] [bit] NULL,
 CONSTRAINT [PK_dbo.DetailDiscountCode] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[DiscountCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[DiscountCodeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[PercentCart] [int] NULL,
	[TotalCart] [decimal](18, 0) NULL,
	[DistcountCount] [int] NULL,
	[DiscountStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.DiscountCode] PRIMARY KEY CLUSTERED 
(
	[DiscountCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangeUnit]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeUnit](
	[ExchangeUnitID] [int] IDENTITY(1,1) NOT NULL,
	[Createdate] [datetime] NULL,
	[ValueCountUnit] [int] NULL,
	[ProductIDIn] [int] NULL,
	[ProductIDOut] [int] NULL,
	[UserID] [int] NULL,
	[ExchangeStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.ExchangeUnit] PRIMARY KEY CLUSTERED 
(
	[ExchangeUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[FooterID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[CreateDate] [date] NULL,
	[FooterCategoryID] [int] NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Footer] PRIMARY KEY CLUSTERED 
(
	[FooterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FooterCategory]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FooterCategory](
	[FooterCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [nvarchar](250) NULL,
	[Display] [int] NULL,
	[CreateDate] [date] NULL,
 CONSTRAINT [PK_FooterCategory] PRIMARY KEY CLUSTERED 
(
	[FooterCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [varchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[UserID] [int] NULL,
	[CategoryNewID] [int] NULL,
	[NewsStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CustomerID] [int] NULL,
	[ShipName] [nvarchar](250) NULL,
	[ShipAddress] [nvarchar](250) NULL,
	[ShipPhone] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Discription] [nvarchar](max) NULL,
	[PaymentStatus] [bit] NULL,
	[OrderStatus] [int] NULL,
	[PriceShip] [decimal](18, 0) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[PriceDiscount] [decimal](18, 0) NULL,
	[ShipEmail] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderDetailCount] [int] NULL,
	[OrderPrice] [decimal](18, 0) NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](max) NULL,
	[ParentProductID] [int] NULL,
	[Image] [varchar](500) NULL,
	[MoreImage] [xml] NULL,
	[PriceOut] [decimal](18, 0) NULL,
	[Pricewholesale] [decimal](18, 0) NULL,
	[CountProduct] [int] NULL,
	[UnitID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ProductCategoryID] [int] NULL,
	[ProductStatus] [bit] NULL,
	[ProductComboID] [int] NULL,
	[Display] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MetaTitle] [varchar](500) NULL,
	[Display] [int] NULL,
	[ParentID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Image] [varchar](500) NULL,
	[ShowOnHome] [bit] NULL,
	[ProductCategoryStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCombo]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCombo](
	[ProductComboID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Display] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ComboStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.ProductCombo] PRIMARY KEY CLUSTERED 
(
	[ProductComboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductComboDetail]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComboDetail](
	[ProductComboID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductComboCount] [int] NULL,
 CONSTRAINT [PK_dbo.ProductComboDetail] PRIMARY KEY CLUSTERED 
(
	[ProductComboID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ProductDetailID] [int] NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[TradeMark] [nvarchar](50) NULL,
	[TradeOrigin] [nvarchar](50) NULL,
	[Ingredient] [nvarchar](max) NULL,
	[Production] [nvarchar](50) NULL,
	[Expiry] [nvarchar](50) NULL,
	[UserManual] [nvarchar](max) NULL,
	[CareInstructions] [nvarchar](max) NULL,
	[Packing] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ProductDetails] PRIMARY KEY CLUSTERED 
(
	[ProductDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPricePromotion]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPricePromotion](
	[PricePromotionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[PricePromotion] [decimal](18, 0) NULL,
	[PricewholesalePromotion] [decimal](18, 0) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[PromotionStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.ProductPricePromotion] PRIMARY KEY CLUSTERED 
(
	[PricePromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSupplier]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSupplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[SupplierStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.ProductSupplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductUnit]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUnit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ValueUnit] [float] NULL,
 CONSTRAINT [PK_dbo.ProductUnit] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[SupplierID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[TotalCount] [int] NULL,
	[TotalReceiptPrice] [decimal](18, 0) NULL,
	[ReceiptStatus] [bit] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Receipt] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetail]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetail](
	[ReceitpDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[PriceIput] [decimal](18, 0) NULL,
	[ReceiptCount] [int] NULL,
 CONSTRAINT [PK_ReceiptDetail_1] PRIMARY KEY CLUSTERED 
(
	[ReceitpDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[SlideID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[ImageMore] [xml] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[SlideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Passsword] [varchar](50) NULL,
	[FullName] [nvarchar](250) NULL,
	[Birth] [date] NULL,
	[Address] [nvarchar](250) NULL,
	[Email] [varchar](250) NULL,
	[Phone] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UserRoleGroupID] [int] NULL,
	[UserStatus] [int] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UserRoleStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleGroup]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleGroup](
	[UserRoleGroupID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[GroupStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.UserRoleGroup] PRIMARY KEY CLUSTERED 
(
	[UserRoleGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleGroupDetail]    Script Date: 2/7/2023 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleGroupDetail](
	[UserRoleGroupID] [int] NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[RoleDetailStatus] [bit] NULL,
 CONSTRAINT [PK_dbo.UserRoleGroupDetail] PRIMARY KEY CLUSTERED 
(
	[UserRoleGroupID] ASC,
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryNews] ON 

INSERT [dbo].[CategoryNews] ([CategoryNewID], [Name], [Display], [CreateDate], [CategoryStatus]) VALUES (1, N'Chế độ ăn uống', 1, CAST(N'2021-12-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[CategoryNews] ([CategoryNewID], [Name], [Display], [CreateDate], [CategoryStatus]) VALUES (2, N'Sống xanh', 2, CAST(N'2021-12-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[CategoryNews] ([CategoryNewID], [Name], [Display], [CreateDate], [CategoryStatus]) VALUES (3, N'Mẹo vặt gia đình', 3, CAST(N'2021-12-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CategoryNews] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [CreateDate], [Address], [Email], [Password], [Gender], [Birth], [Cart], [CustomerStatus]) VALUES (1, N'Nguyễn Văn A', N'0775426577', CAST(N'2021-11-30' AS Date), N'Ấp 10,Xã Mỹ Thành Nam,Huyện Cai Lậy,Tỉnh Tiền Giang,28456,820,82', N'longhoang@gmail.com', N'123456789', 1, CAST(N'2000-04-06' AS Date), NULL, 1)
INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [CreateDate], [Address], [Email], [Password], [Gender], [Birth], [Cart], [CustomerStatus]) VALUES (3, N'Trần Thị Kim', N'0775426578', CAST(N'2021-12-23' AS Date), N'123/4A,Phường Đa Kao,Quận 1,Thành phố Hồ Chí Minh,26737,760,79', N'kim123@gmail.com', N'0123456789', 0, CAST(N'2003-03-17' AS Date), NULL, 1)
INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [CreateDate], [Address], [Email], [Password], [Gender], [Birth], [Cart], [CustomerStatus]) VALUES (4, N'Võ Văn Vũ', N'0775426579', CAST(N'2022-01-01' AS Date), N'12/7,Phường 04,Quận 3,Thành phố Hồ Chí Minh,27148,770,79', NULL, N'123456789', 1, CAST(N'2022-01-06' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[DetailDiscountCode] ([OrderID], [DiscountCodeID], [StatusDetail]) VALUES (28, 1, NULL)
INSERT [dbo].[DetailDiscountCode] ([OrderID], [DiscountCodeID], [StatusDetail]) VALUES (28, 2, NULL)
INSERT [dbo].[DetailDiscountCode] ([OrderID], [DiscountCodeID], [StatusDetail]) VALUES (30, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[DiscountCode] ON 

INSERT [dbo].[DiscountCode] ([DiscountCodeID], [Name], [StartDate], [EndDate], [CreateDate], [PercentCart], [TotalCart], [DistcountCount], [DiscountStatus]) VALUES (1, N'GIAMGIAHOT5', CAST(N'2021-12-21T00:00:00.000' AS DateTime), CAST(N'2021-12-25T00:00:00.000' AS DateTime), CAST(N'2021-12-21T00:00:00.000' AS DateTime), 6, NULL, 8, 0)
INSERT [dbo].[DiscountCode] ([DiscountCodeID], [Name], [StartDate], [EndDate], [CreateDate], [PercentCart], [TotalCart], [DistcountCount], [DiscountStatus]) VALUES (2, N'VUIMOINGAY', CAST(N'2021-12-22T00:00:00.000' AS DateTime), CAST(N'2021-12-26T00:00:00.000' AS DateTime), CAST(N'2021-12-21T00:00:00.000' AS DateTime), NULL, CAST(50000 AS Decimal(18, 0)), 14, 0)
INSERT [dbo].[DiscountCode] ([DiscountCodeID], [Name], [StartDate], [EndDate], [CreateDate], [PercentCart], [TotalCart], [DistcountCount], [DiscountStatus]) VALUES (3, N'FL123NV', CAST(N'2021-12-28T23:17:00.000' AS DateTime), CAST(N'2021-12-31T23:17:00.000' AS DateTime), CAST(N'2021-12-27T23:18:22.277' AS DateTime), NULL, CAST(30000 AS Decimal(18, 0)), 15, 0)
SET IDENTITY_INSERT [dbo].[DiscountCode] OFF
GO
SET IDENTITY_INSERT [dbo].[ExchangeUnit] ON 

INSERT [dbo].[ExchangeUnit] ([ExchangeUnitID], [Createdate], [ValueCountUnit], [ProductIDIn], [ProductIDOut], [UserID], [ExchangeStatus]) VALUES (8, CAST(N'2021-12-12T21:22:24.120' AS DateTime), 3, 25, 23, 1, 1)
INSERT [dbo].[ExchangeUnit] ([ExchangeUnitID], [Createdate], [ValueCountUnit], [ProductIDIn], [ProductIDOut], [UserID], [ExchangeStatus]) VALUES (9, CAST(N'2021-12-12T21:22:33.197' AS DateTime), 2, 25, 24, 1, 1)
INSERT [dbo].[ExchangeUnit] ([ExchangeUnitID], [Createdate], [ValueCountUnit], [ProductIDIn], [ProductIDOut], [UserID], [ExchangeStatus]) VALUES (10, CAST(N'2021-12-12T21:24:01.240' AS DateTime), 2, 24, 23, 1, 1)
SET IDENTITY_INSERT [dbo].[ExchangeUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Footer] ON 

SET IDENTITY_INSERT [dbo].[Footer] OFF
GO
SET IDENTITY_INSERT [dbo].[FooterCategory] ON 

INSERT [dbo].[FooterCategory] ([FooterCategoryID], [NameCategory], [Display], [CreateDate]) VALUES (1, N'Hổ trợ tư vấn', 1, CAST(N'2021-12-28' AS Date))
INSERT [dbo].[FooterCategory] ([FooterCategoryID], [NameCategory], [Display], [CreateDate]) VALUES (2, N'Quy định chung', 2, CAST(N'2021-12-28' AS Date))
INSERT [dbo].[FooterCategory] ([FooterCategoryID], [NameCategory], [Display], [CreateDate]) VALUES (3, N'Thông tin', 3, CAST(N'2021-12-28' AS Date))
SET IDENTITY_INSERT [dbo].[FooterCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Name], [Detail], [Image], [CreateDate], [UserID], [CategoryNewID], [NewsStatus]) VALUES (4, N'Tin tức 123', N'<p>abcs213</p>
', N'/Data/images/News/che-do-an-thuc-duong-la-gi-loi-ich-cua-che-do-an-thuc-duong-doi-voi-co-the-202110201150020708.jpg', CAST(N'2021-12-17T20:17:19.117' AS DateTime), 1, 2, 0)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserID], [CustomerID], [ShipName], [ShipAddress], [ShipPhone], [CreateDate], [Discription], [PaymentStatus], [OrderStatus], [PriceShip], [TotalPrice], [PriceDiscount], [ShipEmail]) VALUES (1, 1, 1, N'Nguyễn Văn A', N'+Phường Tân Định+Quận 1+Thành phố Hồ Chí Minh', N'0775426577', CAST(N'2021-12-15T07:28:41.870' AS DateTime), NULL, 1, 0, CAST(0 AS Decimal(18, 0)), CAST(2505000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'longhoang@gmail.com')
INSERT [dbo].[Order] ([OrderID], [UserID], [CustomerID], [ShipName], [ShipAddress], [ShipPhone], [CreateDate], [Discription], [PaymentStatus], [OrderStatus], [PriceShip], [TotalPrice], [PriceDiscount], [ShipEmail]) VALUES (2, 1, 1, N'Nguyễn Văn A', N'+Phường Tân Định+Quận 1+Thành phố Hồ Chí Minh', N'0775426577', CAST(N'2021-12-15T09:14:41.550' AS DateTime), NULL, 1, 0, CAST(0 AS Decimal(18, 0)), CAST(704000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'longhoang@gmail.com')
INSERT [dbo].[Order] ([OrderID], [UserID], [CustomerID], [ShipName], [ShipAddress], [ShipPhone], [CreateDate], [Discription], [PaymentStatus], [OrderStatus], [PriceShip], [TotalPrice], [PriceDiscount], [ShipEmail]) VALUES (3, 1, 1, N'Nguyễn Văn A', N'+Phường Tân Định+Quận 1+Thành phố Hồ Chí Minh', N'0775426577', CAST(N'2021-12-15T09:16:08.470' AS DateTime), NULL, 1, 0, CAST(0 AS Decimal(18, 0)), CAST(2430000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'longhoang@gmail.com')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [OrderDetailCount], [OrderPrice]) VALUES (1, 10, 2, CAST(595000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [OrderDetailCount], [OrderPrice]) VALUES (1, 15, 3, CAST(405000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [OrderDetailCount], [OrderPrice]) VALUES (1, 24, 5, CAST(20000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [MetaTitle], [ParentProductID], [Image], [MoreImage], [PriceOut], [Pricewholesale], [CountProduct], [UnitID], [CreateDate], [ProductCategoryID], [ProductStatus], [ProductComboID], [Display]) VALUES (5, N'Kem que TOPKID sô cô la nguyên chất - phomat tự nhiên 46g', N'kem-que-topkid-so-co-la-nguyen-chat---phomat-tu-nhien-46g', 0, N'/Data/images/ImageProduct/topkid-socola-phomat.jpg', N'<Images />', CAST(11000 AS Decimal(18, 0)), CAST(10000 AS Decimal(18, 0)), 0, 9, CAST(N'2021-12-09T12:22:10.990' AS DateTime), 17, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Name], [MetaTitle], [Display], [ParentID], [CreateDate], [Image], [ShowOnHome], [ProductCategoryStatus]) VALUES (1, N'Sữa tươi', N'sua-tuoi', 1, 0, CAST(N'2021-10-14T21:39:26.750' AS DateTime), N'/Data/images/ImageCategory/sua-tuoi.jpg', 1, 1)
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Name], [MetaTitle], [Display], [ParentID], [CreateDate], [Image], [ShowOnHome], [ProductCategoryStatus]) VALUES (2, N'Sữa tươi thanh trùng', N'sua-tuoi-thanh-trung', 1, 1, CAST(N'2021-10-14T21:41:21.587' AS DateTime), NULL, 0, 1)
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Name], [MetaTitle], [Display], [ParentID], [CreateDate], [Image], [ShowOnHome], [ProductCategoryStatus]) VALUES (3, N'Sữa tươi tiệt trùng', N'sua-tuoi-tiet-trung', 2, 1, CAST(N'2021-10-14T21:41:33.853' AS DateTime), NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCombo] ON 

INSERT [dbo].[ProductCombo] ([ProductComboID], [Name], [Display], [StartDate], [EndDate], [ComboStatus]) VALUES (6, N'Combo Sữa tươi tiệt trùng bổ sung ngũ cốc 180ml và Sữa tươi tiệt trùng hương dâu 110 ml', 1, CAST(N'2021-12-23T00:00:00.000' AS DateTime), CAST(N'2021-12-28T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[ProductCombo] ([ProductComboID], [Name], [Display], [StartDate], [EndDate], [ComboStatus]) VALUES (7, N'Combo sữa tươi ngon', 2, CAST(N'2021-12-23T11:04:00.000' AS DateTime), CAST(N'2021-12-29T11:04:00.000' AS DateTime), 0)
INSERT [dbo].[ProductCombo] ([ProductComboID], [Name], [Display], [StartDate], [EndDate], [ComboStatus]) VALUES (8, N'Combo nước trái cây', 3, CAST(N'2021-12-24T11:17:00.000' AS DateTime), CAST(N'2021-12-30T11:17:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ProductCombo] OFF
GO
INSERT [dbo].[ProductComboDetail] ([ProductComboID], [ProductID], [ProductComboCount]) VALUES (6, 8, 1)
INSERT [dbo].[ProductComboDetail] ([ProductComboID], [ProductID], [ProductComboCount]) VALUES (6, 15, 1)
INSERT [dbo].[ProductComboDetail] ([ProductComboID], [ProductID], [ProductComboCount]) VALUES (6, 22, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductPricePromotion] ON 

INSERT [dbo].[ProductPricePromotion] ([PricePromotionID], [ProductID], [CreateDate], [PricePromotion], [PricewholesalePromotion], [StartDate], [EndDate], [PromotionStatus]) VALUES (1, 10, CAST(N'2021-12-15T15:12:51.937' AS DateTime), CAST(580000 AS Decimal(18, 0)), CAST(570000 AS Decimal(18, 0)), CAST(N'2021-12-15T15:12:00.000' AS DateTime), CAST(N'2021-12-17T15:12:00.000' AS DateTime), 0)
INSERT [dbo].[ProductPricePromotion] ([PricePromotionID], [ProductID], [CreateDate], [PricePromotion], [PricewholesalePromotion], [StartDate], [EndDate], [PromotionStatus]) VALUES (2, 26, CAST(N'2022-01-06T13:40:15.327' AS DateTime), CAST(10000 AS Decimal(18, 0)), CAST(9000 AS Decimal(18, 0)), CAST(N'2022-01-06T13:40:00.000' AS DateTime), CAST(N'2022-01-13T13:40:00.000' AS DateTime), 0)
INSERT [dbo].[ProductPricePromotion] ([PricePromotionID], [ProductID], [CreateDate], [PricePromotion], [PricewholesalePromotion], [StartDate], [EndDate], [PromotionStatus]) VALUES (3, 26, CAST(N'2022-01-06T13:40:51.860' AS DateTime), CAST(9000 AS Decimal(18, 0)), CAST(8000 AS Decimal(18, 0)), CAST(N'2022-01-14T13:40:00.000' AS DateTime), CAST(N'2022-01-16T13:40:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ProductPricePromotion] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSupplier] ON 

INSERT [dbo].[ProductSupplier] ([SupplierID], [Name], [Phone], [Address], [Email], [CreateDate], [SupplierStatus]) VALUES (1, N'Công ty TNHH TH True Milk', N'1800 545440', N'166 Nguyễn Thái Học, P. Quang Trung, TP. Vinh, Nghệ An', N'chamsockhachhang@thmilk.vn', CAST(N'2021-12-10T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ProductSupplier] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductUnit] ON 

INSERT [dbo].[ProductUnit] ([UnitID], [Name], [ValueUnit]) VALUES (1, N'Chai', 1)
INSERT [dbo].[ProductUnit] ([UnitID], [Name], [ValueUnit]) VALUES (2, N'Lốc', 4)
INSERT [dbo].[ProductUnit] ([UnitID], [Name], [ValueUnit]) VALUES (3, N'Thùng', 48)
SET IDENTITY_INSERT [dbo].[ProductUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipt] ON 

INSERT [dbo].[Receipt] ([ReceiptID], [UserID], [SupplierID], [CreateDate], [TotalCount], [TotalReceiptPrice], [ReceiptStatus], [Description]) VALUES (10, 1, 1, CAST(N'2021-12-11T14:59:00.000' AS DateTime), 75, CAST(24400000 AS Decimal(18, 0)), 1, N'nhập hàng lần 1')
INSERT [dbo].[Receipt] ([ReceiptID], [UserID], [SupplierID], [CreateDate], [TotalCount], [TotalReceiptPrice], [ReceiptStatus], [Description]) VALUES (11, 1, 1, CAST(N'2021-12-11T15:36:00.000' AS DateTime), 30, CAST(12000000 AS Decimal(18, 0)), 1, N'Nhập hàng lần 2')
INSERT [dbo].[Receipt] ([ReceiptID], [UserID], [SupplierID], [CreateDate], [TotalCount], [TotalReceiptPrice], [ReceiptStatus], [Description]) VALUES (12, 1, 1, CAST(N'2021-12-13T12:01:00.000' AS DateTime), 15, CAST(3450000 AS Decimal(18, 0)), 1, N'nhập hàng ')
SET IDENTITY_INSERT [dbo].[Receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceiptDetail] ON 

INSERT [dbo].[ReceiptDetail] ([ReceitpDetailID], [ReceiptID], [ProductID], [PriceIput], [ReceiptCount]) VALUES (23, 10, 25, CAST(240000 AS Decimal(18, 0)), 20)
INSERT [dbo].[ReceiptDetail] ([ReceitpDetailID], [ReceiptID], [ProductID], [PriceIput], [ReceiptCount]) VALUES (24, 10, 22, CAST(240000 AS Decimal(18, 0)), 15)
INSERT [dbo].[ReceiptDetail] ([ReceitpDetailID], [ReceiptID], [ProductID], [PriceIput], [ReceiptCount]) VALUES (25, 10, 15, CAST(400000 AS Decimal(18, 0)), 20)
SET IDENTITY_INSERT [dbo].[ReceiptDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([SlideID], [Name], [ImageMore]) VALUES (1, N'Slide Header', N'<Images><Image>/Data/images/Slide/ecom-scu-thanh-trung-4_1_web-banner-slider.jpg</Image><Image>/Data/images/Slide/ecom-scu-phomat-topkid-4_1_web-banner-slider_1.jpg</Image><Image>/Data/images/Slide/bevtet2022-03.jpg</Image><Image>/Data/images/Slide/artboard_7.png</Image><Image>/Data/images/Slide/1410_x_420.png</Image><Image>/Data/images/Slide/web_slider_1410_x_420_8.jpg</Image></Images>')
INSERT [dbo].[Slide] ([SlideID], [Name], [ImageMore]) VALUES (2, N'Slide Footer', N'<Images><Image>/Data/images/Slide/logo.png</Image><Image>/Data/images/Slide/logo-primary_55e9c8c.jpg</Image><Image>/Data/images/Slide/logo.png</Image><Image>/Data/images/Slide/logo-primary_55e9c8c.jpg</Image><Image>/Data/images/Slide/logo.png</Image><Image>/Data/images/Slide/logo-primary_55e9c8c.jpg</Image></Images>')
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Passsword], [FullName], [Birth], [Address], [Email], [Phone], [CreateDate], [UserRoleGroupID], [UserStatus]) VALUES (1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'admin', CAST(N'2000-11-23' AS Date), N'TP.HCM', NULL, N'0123456789', CAST(N'2021-11-09T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[User] ([UserID], [UserName], [Passsword], [FullName], [Birth], [Address], [Email], [Phone], [CreateDate], [UserRoleGroupID], [UserStatus]) VALUES (2, N'vutuananh', N'e10adc3949ba59abbe56e057f20f883e', N'Vũ Tuấn Anh', CAST(N'2000-06-05' AS Date), N'TP.HCM', NULL, N'0123456789', CAST(N'2021-11-09T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[User] ([UserID], [UserName], [Passsword], [FullName], [Birth], [Address], [Email], [Phone], [CreateDate], [UserRoleGroupID], [UserStatus]) VALUES (3, N'nguyenvana', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn Văn A', CAST(N'2000-07-04' AS Date), N'Đồng tháp', NULL, N'0123456789', CAST(N'2021-12-02T00:00:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleID], [Name], [CreateDate], [UserRoleStatus]) VALUES (2, N'Quản lý đơn hàng', CAST(N'2021-11-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserRole] ([UserRoleID], [Name], [CreateDate], [UserRoleStatus]) VALUES (3, N'Quản lý Kho hàng', CAST(N'2021-12-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserRole] ([UserRoleID], [Name], [CreateDate], [UserRoleStatus]) VALUES (4, N'Quản lý khách hàng', CAST(N'2021-12-28T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleGroup] ON 

INSERT [dbo].[UserRoleGroup] ([UserRoleGroupID], [Name], [CreateDate], [GroupStatus]) VALUES (1, N'Admin', CAST(N'2021-11-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserRoleGroup] ([UserRoleGroupID], [Name], [CreateDate], [GroupStatus]) VALUES (2, N'NV bán hàng', CAST(N'2021-12-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserRoleGroup] ([UserRoleGroupID], [Name], [CreateDate], [GroupStatus]) VALUES (3, N'NV chăm sóc KH', CAST(N'2021-12-28T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserRoleGroup] OFF
GO
INSERT [dbo].[UserRoleGroupDetail] ([UserRoleGroupID], [UserRoleID], [RoleDetailStatus]) VALUES (1, 2, 1)
INSERT [dbo].[UserRoleGroupDetail] ([UserRoleGroupID], [UserRoleID], [RoleDetailStatus]) VALUES (1, 3, 1)
INSERT [dbo].[UserRoleGroupDetail] ([UserRoleGroupID], [UserRoleID], [RoleDetailStatus]) VALUES (1, 4, 1)
GO
ALTER TABLE [dbo].[DetailDiscountCode]  WITH CHECK ADD  CONSTRAINT [FK_DetailDiscountCode_DiscountCode] FOREIGN KEY([DiscountCodeID])
REFERENCES [dbo].[DiscountCode] ([DiscountCodeID])
GO
ALTER TABLE [dbo].[DetailDiscountCode] CHECK CONSTRAINT [FK_DetailDiscountCode_DiscountCode]
GO
ALTER TABLE [dbo].[DetailDiscountCode]  WITH CHECK ADD  CONSTRAINT [FK_DetailDiscountCode_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[DetailDiscountCode] CHECK CONSTRAINT [FK_DetailDiscountCode_Order]
GO
ALTER TABLE [dbo].[ExchangeUnit]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeUnit_Product] FOREIGN KEY([ProductIDIn])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ExchangeUnit] CHECK CONSTRAINT [FK_ExchangeUnit_Product]
GO
ALTER TABLE [dbo].[ExchangeUnit]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeUnit_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ExchangeUnit] CHECK CONSTRAINT [FK_ExchangeUnit_User]
GO
ALTER TABLE [dbo].[Footer]  WITH CHECK ADD  CONSTRAINT [FK_Footer_FooterCategory] FOREIGN KEY([FooterCategoryID])
REFERENCES [dbo].[FooterCategory] ([FooterCategoryID])
GO
ALTER TABLE [dbo].[Footer] CHECK CONSTRAINT [FK_Footer_FooterCategory]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.News_dbo.CategoryNews_CategoryNewID] FOREIGN KEY([CategoryNewID])
REFERENCES [dbo].[CategoryNews] ([CategoryNewID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_dbo.News_dbo.CategoryNews_CategoryNewID]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.News_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_dbo.News_dbo.User_UserID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Customer_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Customer_CustomerID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.User_UserID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_OrderID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([ProductCategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.ProductUnit_UnitID] FOREIGN KEY([UnitID])
REFERENCES [dbo].[ProductUnit] ([UnitID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.ProductUnit_UnitID]
GO
ALTER TABLE [dbo].[ProductComboDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductComboDetail_dbo.ProductCombo_ProductComboID] FOREIGN KEY([ProductComboID])
REFERENCES [dbo].[ProductCombo] ([ProductComboID])
GO
ALTER TABLE [dbo].[ProductComboDetail] CHECK CONSTRAINT [FK_dbo.ProductComboDetail_dbo.ProductCombo_ProductComboID]
GO
ALTER TABLE [dbo].[ProductComboDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductComboDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductComboDetail] CHECK CONSTRAINT [FK_ProductComboDetail_Product]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Product] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Product]
GO
ALTER TABLE [dbo].[ProductPricePromotion]  WITH CHECK ADD  CONSTRAINT [FK_ProductPricePromotion_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductPricePromotion] CHECK CONSTRAINT [FK_ProductPricePromotion_Product]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receipt_dbo.ProductSupplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[ProductSupplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_dbo.Receipt_dbo.ProductSupplier_SupplierID]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receipt_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_dbo.Receipt_dbo.User_UserID]
GO
ALTER TABLE [dbo].[ReceiptDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReceiptDetail_dbo.Receipt_ReceiptID] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Receipt] ([ReceiptID])
GO
ALTER TABLE [dbo].[ReceiptDetail] CHECK CONSTRAINT [FK_dbo.ReceiptDetail_dbo.Receipt_ReceiptID]
GO
ALTER TABLE [dbo].[ReceiptDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ReceiptDetail] CHECK CONSTRAINT [FK_ReceiptDetail_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.UserRoleGroup_UserRoleGroupID] FOREIGN KEY([UserRoleGroupID])
REFERENCES [dbo].[UserRoleGroup] ([UserRoleGroupID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.UserRoleGroup_UserRoleGroupID]
GO
ALTER TABLE [dbo].[UserRoleGroupDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoleGroupDetail_dbo.UserRole_UserRoleID] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[UserRole] ([UserRoleID])
GO
ALTER TABLE [dbo].[UserRoleGroupDetail] CHECK CONSTRAINT [FK_dbo.UserRoleGroupDetail_dbo.UserRole_UserRoleID]
GO
ALTER TABLE [dbo].[UserRoleGroupDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoleGroupDetail_dbo.UserRoleGroup_UserRoleGroupID] FOREIGN KEY([UserRoleGroupID])
REFERENCES [dbo].[UserRoleGroup] ([UserRoleGroupID])
GO
ALTER TABLE [dbo].[UserRoleGroupDetail] CHECK CONSTRAINT [FK_dbo.UserRoleGroupDetail_dbo.UserRoleGroup_UserRoleGroupID]
GO
